body{
    height: auto;
   /* width: auto;*/
 /*   justify-content: center;
    align-items: center;*/
}

header{
    border: solid thin black;
    background-color: orangered;
    display: flex;
}

#title{
    flex-grow: 5;
    border: solid thin black;
    /*background-color: blue;*/

}

#photo{
    border: solid thin black;
    flex-grow: 1.5;
}

section{
display: flex;
/*font-size: 9px;*/
}

main{
    border: solid thin black;
    flex-grow: 10;
}

#right{
    border: solid thin black;
    /*height: 300px;*/
    width: 390px;
    flex-grow: 2;
    background-color: aqua;

}

#info{
    border: solid thin black;
}

#introduction{
    border: solid thin black; 
    width: 300px;
    /*position: absolute;
    top: 1050px;
    right: 40px;*/
}


h4 {
    text-transform: uppercase;
}